@model IEnumerable<WebApplication22.Models.viewmodel>
@{
    ViewBag.Title = "TeamleaderHistory";
    Layout = "~/Views/Shared/_MDProfile.cshtml";
}

<div class="divallinMDProfile">
    <div class="MDOptions">
        @Html.ActionLink("Requests", "TeamLeaderRequests", "MDProfile", new { data = TempData["status"] }, new { @class = "teamleaderrequests" })
        @Html.ActionLink("Current projects", "TeamleaderCurrent", "MDProfile", new { data = TempData["status"] }, new { @class = "teamleadercurrent" })
        @Html.ActionLink("History", "TeamleaderHistory", "MDProfile", new { data = TempData["status"] }, new { @class = "teamleaderhistory active" })
        @Html.ActionLink("Quilifications", "TeamLeaderQualifications", "MDProfile", new { data = TempData["status"] }, new { @class = "teamleaderquilifications" })
    </div>
    <div class="teamleaderDiv">
        @foreach (var x in Model)
        {


            <div class="teamleaderprojectdiv">
                <span class="teamleaderdeliveredS">Delivered!</span>
                @Reuseable.Posts("../../userimages/"+@x.u.photo, @x.p.projectname, @x.u.firstname, @x.p.describtion)

            </div>
        }
    </div>
</div>

